table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
}
div.colbox {
    display: flex;
    text-align: center;
}
div.col1 {
    width: 40%;
}
div.col2 {
    width: 80%;
}
div.col3 {
    width: 40%;
}
a {
    text-decoration: none;
    color: black;
}
body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}